<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core"/>
    
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>

    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <enyim.com>
    <memcached>
      <servers>
        <add address="192.168.0.111" port="11211"/>
      </servers>
    </memcached>
  </enyim.com>

  <cacheManager>
    <managers>
      <cache name="cache">
        <handle name="enyim.com/memcached" ref="memcache"/>
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memcache" type="CacheManager.Memcached.MemcachedCacheHandle`1, CacheManager.Memcached" defaultExpirationMode="Sliding" defaultTimeout="3m"/>
    </cacheHandles>
  </cacheManager>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="SharpNode" providerName="MySQL Data Provider" connectionString="server=ServerInfoStorage;"/>
  </connectionStrings>

  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="ServerInfoStorage" retryTime="5">
          <Servers>
            <Server name="master1" IsMaster="true" connectionstring="server=192.168.0.111;port=3316;uid=root;pwd=1234;database=db_sharp_node;"/>
            <Server name="master2" IsMaster="true" connectionstring="server=192.168.0.111;port=3317;uid=root;pwd=1234;database=db_sharp_node;"/>
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>

  <appSettings>

    <add key="AppServerSetting" value="{
         
         'ServerInfoStorage': '',
         
         'ServerNodeSettings':
         [
         {
           'InternalServerSetting':
               {
                 'WorkIp': '192.168.0.79',
                 'WorkPort': 9991,
                 'WorkProtocol': 'simple-http'
               },
           'PublicServerSetting':
               {
                 'WorkIp': '192.168.0.79',
                 'WorkPort': 9992,
                 'WorkProtocol': 'simple-http',
                 'AllowOrigin': '*',
                 'AllowParentPath': true
               },
               
             
             'NodeName': 'server1',
             'GroupName': 'example',
             
             'Services': 'MySharpServer.FrameworkService.dll, 
                          MySharpServerExample.ServerService.dll'
         
         }
         ]
                                
         }"/>

    
<!--    
    <add key="InternalServer"
         value="{
         
         'WorkIp': '192.168.0.79',
         'WorkPort': 9991,
         'WorkProtocol': 'simple-http'
                                
         }" />
     

    <add key="PublicServer" value="{
         
         'WorkIp': '192.168.0.79',
         'WorkPort': 9992,
         'WorkProtocol': 'simple-http',
         'AllowOrigin': '*',
         'AllowParentPath': true
                                
         }"/>

    <add key="NodeName" value="server1"/>
    <add key="GroupName" value="example"/>

    <add key="ServerInfoStorageName" value=""/>
    
    <add key="Services" value="MySharpServer.FrameworkService.dll, 
                MySharpServerExample.ServerService.dll"/>
-->

  </appSettings>
  
</configuration>
