<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=8.0.16.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

    <sectionGroup name="system.data">
      <section name="DbProviderFactories" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    
  </configSections>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.16.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="SharpNode" providerName="MySQL Data Provider" connectionString="server=ServerInfoStorage;"/>
  </connectionStrings>

  <MySQL>
    <Replication>
      <ServerGroups>
        <Group name="ServerInfoStorage" retryTime="5">
          <Servers>
            <Server name="master1" IsMaster="true" connectionstring="server=192.168.0.111;port=3316;uid=root;password=1234;"/>
            <Server name="master2" IsMaster="true" connectionstring="server=192.168.0.111;port=3317;uid=root;password=1234;"/>
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL>

  <appSettings>

    <add key="InternalServer"
         value="{
         
         'WorkIp': '192.168.0.79',
         'WorkPort': 9991,
         'WorkProtocol': 'http'
                                
         }" />

    <add key="PublicServer"
         value="{
         
         'WorkIp': '192.168.0.79',
         'WorkPort': 9992,
         'WorkProtocol': 'http',
         'AllowOrigin': '*'
                                
         }" />

    <add key="NodeName" value="server1"/>
    <add key="GroupName" value="example"/>

    <!-- may set it to empty string if want to run in standalone mode -->
    <add key="ServerInfoStorageName" value="SharpNode"/>

    <add key="Services"
         value="MySharpServer.FrameworkService.dll, 
                MySharpServerExample.ServerService.dll"/>

  </appSettings>
  
</configuration>
